[Desktop Entry]
Type=Application
Version=1.0
Name=XiamomiWatchLinuxConnect
GenericName=OpenCode project terminal
Comment=Open "XiamomiWatchLinuxConnect" with OpenCodeBox in a new terminal
Exec=bash -c "cd /run/media/hubertg/SONIC/XiamomiWatchLinuxConnect && ./opencode-run.sh"
Icon=utilities-terminal
Terminal=true
Categories=Development;Utility;
